.singleproduct {
    color: #ff6060;

    .titre-logement {

        margin-bottom: 0;
    }

    .endroit-logement {
        margin-bottom: 10px;
        margin-top: 10px;
    }
}

.logement__content {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    margin-top: 30px;


    .proprietaire__infosNote {
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        margin-bottom: 31px;
        margin-top: 30px;

        .proprietaire__infos {
            display: flex;
            align-items: center;
            margin-bottom: 27px;
        }

        .proprietaire__nom {
            font-size: 18px;
            margin-right: 10px;
            text-align: right;
            width: 100px;
        }

        .proprietaire__photo {
            border-radius: 50%;
            height: 64px;
            object-fit: cover;
            width: 64px;
        }


    }
}

.logements__dropdowns {
    margin: auto;
    display: flex;
    width: 90%;
    column-gap: 76px;
}

@media screen and (max-width: 768px) {
    .logements__dropdowns {
        margin: auto;

    }

    .titre-logement,
    .endroit-logement {
        font-size: 24px;
    }

    .note {
        display: flex;
        justify-content: flex-start;

    }

    .proprietaire__infos {
        margin-bottom: 0px;
        margin-top: 20px;
    }
}

@media screen and (max-width: 600px) {
    .logements__dropdowns {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .singleproduct {

        .titre-logement,
        .endroit-logement {

            font-size: 18px;
        }

    }

    .logement__content {
        display: block;

        .proprietaire__infosNote {
            display: flex;
            align-items: center;
            flex-direction: row-reverse;
            justify-content: space-between;
            margin-right: 36px;

            .note {
                width: 96px;
                height: 16px;
                margin-left: 20px;

            }
        }


    }
}